<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= card.name %></h1>
            <hr>
            <div>
                <img src="<%= card.imageUrl %>" alt="<%= card.name %>">
            </div>
            <h2><%= card.phone %></h2>
            <p><%= card.address %></p>
        </main>
        <%- include('../includes/end.ejs') %>